<div class="container mt-5">
	<h1 class="text-center mb-5">Blog</h1>
    <div class="d-flex justify-content-end">
    <a href="/new" class="btn btn-primary">글쓰기</a>
    </div>
	<% @posts.each do |post| %>
	<div class="card mt-3">
		<div class="card-body">
			<h5 class="card-title">ID: <%= post.id %></h5>
			<h6 class="card-subtitle mb-2">제목: <%= post.title %></h6>
			<p class="card-text">내용: <%= post.content %></p>
			<a href="/edit?id=<%= post.id %>" class="btn btn-primary">수정</a>
			<a href="/delete?id=<%= post.id %>" class="btn btn-danger">삭제</a>
		</div>
	</div>
	<% end %>
</div>